@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    box-sizing: border-box;
}

:root {
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

body {
    background: #f9fafb;
    margin: 0;
    transition: transform 0.3s;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    min-height: 100vh;
}

nav {
    background: #fff;
    position: fixed;
    width: 100%;
    padding: 10px;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    /*! z-index: ; */
    z-index: 100;
}

ul {
    list-style: none;
}

ul.header-menu {
    margin-left: 30px;
    display: flex;
}

ul.header-menu li {
    display: flex;
    margin-right: 20px;
}

ul.header-menu li:hover {
    color: black;
}

.collapse-aside-button {
    position: absolute;
    top: 20px;
    left: 20px;
    color: rgba(0, 0, 0, 0.6);
    background: transparent;
    border: none;
    outline: none;
    padding: 3px;
    cursor: pointer;
}

.user-aria {
    display: flex;
    position: relative;
    float: right;
}

.user-menu {
    position: absolute;
    background: #fff;
    color: black;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 5px 16px;
    z-index: 1;
    margin-right: 30px;
    margin-top: 60px;
    display: none;
}

.user-menu li {
    display: block;
    padding: 10px;
    border-bottom: 1px solid rgba(220, 220, 220, 0.5);
}

.user-menu li:last-of-type {
    border-bottom: none;
}

.user-toggle {
    margin-right: 100px;
    display: flex;
    cursor: pointer;
    background: beige;
    padding-right: 20px;
    border-radius: 100px;
    vertical-align: middle;
}

.user-toggle img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-toggle .username {
    display: flex;
    margin: 15px 0 0 15px;
}

li a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

aside {
    background-color: #343a40;
    border-right: 2px solid rgba(200, 200, 200, 0.1);
    color: #c2c7d0;
    position: fixed;
    top: 0;
    left: 0;
    width: 290px;
    min-height: 100vh;
    z-index: 100;
    overflow-y: auto;
    -webkit-transform: translate(-290px);
    -moz-transform: translate(-290px);
    height: 100%;
}

aside .logo-site {
    width: 130px;
    height: 130px;
    display: block;
    margin: 15px auto;
}

.logo-site img {
    width: 100%;
    height: 100%;
}

aside ul {
    padding: 0;
    margin: 0;
}

aside ul li {
    display: block;
}

.menu-expander {
    background: #343a40;
    padding: 15px 30px;
    border-bottom: 2px solid #4f5962;
    border-top: 2px solid #4f5962;
}

.menu-expander:hover {
    color: white;
}

.menu-expander i {
    float: right;
}

.sub-menu {
    padding: 0 15px;
    max-height: 0;
    transition: max-height 0.4s ease-out;
    overflow: hidden;
}

.sub-menu li {
    padding: 15px 20px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.1);
}

.sub-menu li a:hover {
    color: #fff;
}

.sub-menu li:last-of-type {
    border-bottom: none;
}

.sub-menu li a {
    color: #c2c7d0;
}

.sub-menu li a i {
    margin-right: 7px;
}

.active {
    color: #fff;
}

.collapse-aside {
    -moz-transform: translate(290px);
    -webkit-transform: translate(290px);
    margin-right: 290px;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 80px 0 10px;
}

.mytable {
    margin-top: 30px;
    margin-bottom: 20px;
    overflow-x: auto;
    width: 100%;
    height: auto;
    z-index: 0;
    position: relative;
    border-radius: 5px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
    line-height: 2;
    vertical-align: top;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #686de0;
    color: white;
}

th:first-of-type {
    width: 80px;
}

th:last-of-type {
    width: 110px;
}

.fa-pencil-alt {
    width: 30px;
    height: 30px;
    background: #686de0;
    border-radius: 5px;
    text-align: center;
    padding-top: 6px;
    color: white;
}

.fa-times {
    width: 30px;
    height: 30px;
    background: #bd2d14;
    border-radius: 5px;
    text-align: center;
    padding-top: 6px;
    color: white;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #686de0;
    color: white;
    border: 1px solid #686de0;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

#search-box {
    width: 220px;
    margin-right: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    color: #fefefe;
    margin: 5% auto;
    border: 1px solid #888;
    width: 700px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.3s;
}

.form-header {
    background-color: #17a2b8;
    color: #fff;
    line-height: 2;
    text-transform: capitalize;
    padding: 15px;
    font-weight: 600;
}

.myform {
    background: #fefefe;
    height: auto;
    padding: 10px 30px;
    color: black;
}

.mylabel {
    margin-top: 10px;
    font-weight: bold;
}

.myform-button {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.myform-button button {
    width: 30%;
    margin: 0px 30px;
}

.myform-button button:nth-of-type(2) {
    float: right;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

input,
select,
textarea {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

input:focus,
select:focus,
textarea:focus {
    outline: 0;
    border-color: #777;
}

.button-primary {
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
}

.button-primary {
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
}

.button-add {
    cursor: pointer;
    background-color: #1a7731;
    border: 2px solid #1a7731;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
}

.button-close {
    cursor: pointer;
    background-color: #fff;
    border: 2px solid rgba(88, 88, 87, 0.39);
    border-radius: 4px;
    color: #000;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
}

.form-group {
    margin-bottom: 10px;
    height: auto;
    display: block;
}

.form-group label {
    color: #222222;
    display: block;
    margin-bottom: 5px;
    font-weight: 580;
}

a {
    color: white;
    text-decoration: none;
}

button,
a.button-primary {
    height: 40px;
    vertical-align: middle;
}

a.button-close {
    height: 40px;
    vertical-align: middle;
    min-width: 200px;
    text-align: center;
}

.search-box {
    /*! display: inline-block; */
    /*! justify-content: right; */
    float: right;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

tr td:first-of-type {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.col-3 {
    height: 100%;
    width: 25%;
    flex: 0 0 25%;
    padding: 0 3px;
}

.col-8 {
    height: auto;
    width: 67%;
    flex: 0 0 67%;
    padding: 0 3px;
}

.col-4 {
    height: auto;
    width: 33%;
    flex: 0 0 33%;
    padding: 0 3px;
}

.box {
    height: 170px;
}

.box-info {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125);
}

.box-info-content {
    padding: 25px;
    height: 80%;
}

.box-info-content h3 {
    font-size: 32px;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    font-weight: 700;
}

.box-info-content p {
    text-transform: capitalize;
    font-size: 1.1em;
}

.box-info-content i {
    position: absolute;
    right: 15px;
    top: 47px;
    color: rgba(250, 250, 250, 0.9);
}

.link-view-full {
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 3px;
    position: relative;
    text-align: center;
    text-decoration: none;
    height: 20%;
    justify-content: center;
    align-items: center;
}

.sale-graph {
    height: 320px;
    width: 100%;
    background: #6b6c6cde;
    margin-top: 20px;
    padding: 10px;
    color: white;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125);
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 20px 3px;
}

.sale-graph-header {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.sale-graph-header i {
    margin-right: 10px;
}

.table-show {
    width: 100%;
    height: auto;
    display: block;
}

.gray {
    background-color: #2b2e60;
}

td img {
    width: 200px;
    height: 100px;
}